h1{
    margin-top: 8%;
    text-align: center;
    color: white;
    font-size: 18px;
}

p{
    text-align: center;
    color: #808080;
    font-size: 13px;
}

a{
    color: #808080;
    font-size: 13px;
    text-align: center;
}
